<h3 class="mb-3">Lights</h3>


<form asp-page-handler="AddLight" method="post">
    <div class="row g-3 justify-content-center">
        <div class="col col-md-4">
            <input type="text" name="LightName" class="form-control" placeholder="Light Name" aria-label="Light name" required>
        </div>
        <div class="col col-md-4">
            <input type="tel" name="LightIP" class="form-control" type="tel" placeholder="Light IP" aria-label="Light IP" required>
        </div>
    </div>

    <div class="d-grid gap-2 col-8 col-md-3 my-3 mx-auto">
        <input type="submit" class="btn btn-primary" value="Add Light" />
    </div>
</form>