<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <style>
      li {
        cursor: pointer;
      }
      
      .delete-config {
        margin-left: 1em;
      }
    </style>
    <title>Plex Lights</title>
  </head>
  <body>
    <h1>Plex Lights</h1>

    <h2>Add Bulb</h3>
    <form action="/add" method="post">
      <input name="client_id" type="text" placeholder="Client ID" required/>
      <input name="bulb_ip" type="tel" placeholder="Bulb IP" required/>
      <input type="submit" value="Save"/>
    </form>

    <h2>Configurations</h2>

    {% if clients|length == 0 %}
    <p>0 saved configurations</p>
    {% else %}
    <ul>
    {% for client_id, bulb_ips in clients.items() %}
      <li class="client-config">
        {{client_id|e}} - {{bulb_ips|join(', ')|e}}
        <button data-config="{{client_id}}" class="delete-config">Delete</button>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h2>Discovered Lights</h2>

    <button onclick="refreshBulbs()">Refresh</button>

    {% if available_bulbs|length == 0 %}
    <p>0 bulbs discovered</p>
    {% else %}
    <ul>
    {% for ip in available_bulbs %}
      <li class="bulb-ip">{{ip}}</li>
    {% endfor %}
    </ul>
    {% endif %}
   
    <h2>Plex Devices</h2>

    {% if history|length == 0 %}
    <p>0 devices</p>
    {% else %}
    <ul>
      {% for item in history %}
      <li class="history-item">{{item[0]}} - {{item[1]}}</li>
      {% endfor %}
    <ul>
    {% endif %}
  </body>

  <script>
    // Click a history item to autofill the client id form field.
    const clientIdInput = document.getElementsByName("client_id")[0];
    const historyItems = document.getElementsByClassName("history-item");
    for (let item of historyItems) {
      item.onclick = () => clientIdInput.value = item.innerText.split(" - ")[1];
    }

    // Click a saved configuration to autofill the client id form field.
    const clientConfigs = document.getElementsByClassName("client-config");
    for (let item of clientConfigs) {
      item.onclick = () => clientIdInput.value = item.innerText.split(" - ")[0];
    }

    // Click a bulb ip address to autofill the ip address form field.
    const bulbIpInput = document.getElementsByName("bulb_ip")[0];
    const bulbIps = document.getElementsByClassName("bulb-ip");
    for (let item of bulbIps) {
      item.onclick = () => bulbIpInput.value = item.innerText;
    }

    // Click a delete button to remove a configuration.
    const deleteButtons = document.getElementsByClassName("delete-config");
    for (let button of deleteButtons) {
      button.onclick = (event) => deleteConfig(event, button.dataset.config);
    }

    // Delete a configuration by its client id
    async function deleteConfig(event, clientId) {
      event.stopPropagation();
      if (!confirm("Delete this configuration?")) return;
      await fetch(`/delete/${clientId}`, {
        method: "delete"
      });
      location.reload();
    }

    // Asynchronously discover bulbs on the network and refresh when finished.
    async function refreshBulbs() {
      await fetch(`/discover`);
      location.reload();
    }
  </script>
</html>
