@page
@model PlexLights.Pages.WebHook

@{
    ViewData["Title"] = "WebHook History";
}

<div id="code-block" class="border rounded">
    @foreach (var record in Model.Items)
    {
        <code style="display: block">@record.Date.ToString("f") -- @record.EventType --  @record.Title on @record.Device.Name</code>    
    }
    
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    console.log("starting connection");
    let connection = new signalR.HubConnectionBuilder().withUrl("/activity").build();

    connection.on("SendActivity", (history) => {
        console.log(history);
        $('#code-block').append(`<code style="display: block;">${history.date} -- ${history.device.name}</code>`);
    });

    connection.start();
</script>

<style>
    #code-block {
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
    }
</style>